/*app for design inspiraton  http://nizoapp.com/
  bg color #deddd8
  font "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif
  potential text color (as well as white): #888*/

body {
  font-family: "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif;
  background-color: #78909C;
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: -2;
}

#overlay0 {
  position: fixed;
  width: 100%;
  height:100%;
  background: none;
  z-index: 0;
}

#overlay1 {
  position: fixed;
  top: 130px;
  left: 30%;
  width: 40vw;
  height: 40vw;
  background-color: white;
  color: #78909C;
}

#overlay1 h2 {
  padding: 10px 0px;
  font-size: 36px;
}

#overlay1 p {
  text-align: left;
  font-size: 15px;
  padding: 8px;
  margin: none;
}

#overlay2 {
  position: fixed;
  top: 18.6%;
  left: 16%;
  width: 12.7vw;
  height: 12.7vw;
  border: 6px solid white;
  box-sizing: border-box;

}

#letsblick {
  margin: 4% 35%;
  font-size: 30px;
  letter-spacing: -2px;
  border: 3px solid #78909C;
  width: 130px;
  height: 40px;
  line-height: 40px;
  position: absolute;
}

header {
  height: px;
}

h1 {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -4px;
  font-variant: small-caps;
}

h2 {
  font-size: 30px;
  letter-spacing: -2px;
  margin-top: 10px;
}

h3 {
  font-size: 20px;
  letter-spacing: -1px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  text-indent: 8px;
}

ul {
  margin: 30px auto;
  border: 5px solid white;
  width: 39vw;
  height: 39vw;
  position: absolute;
  left: 30%;
}

#scores {
  margin: 30px 0px;
  width: 13vw;
  height: 40vw;
  position: absolute;
  left: 16%;

}

#scores div {
  width: 12.7vw;
  height: 12.7vw;
  border: 6px solid white;
  margin-bottom: 12px;
  box-sizing: border-box;

}

#info {
  margin: 30px 0px;
  width: 12.75vw;
  height: 38vw;
  position: absolute;
  left: 71.5%;
}

#info div {
  width: 12.7vw;
  height: 12.7vw;
  border: 6px solid white;
  margin-bottom: 12px;
  box-sizing: border-box;

}

#info div:nth-child(2) {
  font-size: 20px;
  letter-spacing: -1px;
  text-align: left;
  line-height: 20px;
  padding: 10px;
}

li {
  border: 1px solid white;
  float: left;
  display: inline;
  box-sizing: border-box;
  width: 20%;
  height: 20%;
}

.green {
  background-color: #66BB6A;
}

.red {
  background-color: #EF5350;
}

.blue {
  background-color: #42A5F5;
}

.yellow {
  background-color: #FFEE58;
}

.orange {
  background-color: #FFA726;
}

.purple {
  background-color: #AB47BC;
}

.clear {
  background-color: #78909C;
}

.shadow1 {
  background-color: #CFD8DC;
}

.shadow2 {
  background-color: #B0BEC5;
}

.shadow3 {
  background-color: #90A4AE;
}

.shadow4 {
  background-color: #607D8B;
}

.shadow5 {
  background-color: #546E7A;
}

.shadow6 {
  background-color: #78909C;
}

@media only screen and (max-width: 1120px) {
  h2 {font-size: 20px; letter-spacing: 0px;}
  h3 {font-size: 15px;letter-spacing: 0px;}
  p {font-size: 15px;letter-spacing: 0px;}
}

@media only screen and (max-width: 960px) {
  
}

@media only screen and (max-width: 640px) {
  header {
    display: none;
  }
}
