/*app for design inspiraton  http://nizoapp.com/
  bg color #deddd8
  font "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif
  potential text color (as well as white): #888*/

body {
  font-family: "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif;
  background-color: #78909C;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

}

header {
  height: 100px;
}

h1 {
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -4px;
}

#start {
  margin: 0 auto 10px auto;
  height: 30px;
  width: 110px;
  border: 2px solid white;
  line-height: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  background: none;
  vertical-align: middle;
}

ul {
  margin: 30px auto;
  border: 1px solid white;
  width: 500px;
  height: 500px;
}

li {
  border: 1px solid white;
  float: left;
  display: inline;
  width: 98px;
  height: 98px;
}

.green {
  background-color: #66BB6A;
}

.red {
  background-color: #EF5350;
}

.blue {
  background-color: #42A5F5;
}

.yellow {
  background-color: #FFEE58;
}

.orange {
  background-color: #FFA726;
}

.white {
  background-color: white;
}

